<%: func Index(content string, buffer *bytes.Buffer) %>

<%~ "base.html" %>

<%@ body { %>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg">
        <div class="card bg-light mb-3">
            <div class="card-header">
                Dashboard
            </div>
            <div class="card-body">
                This is some text within a card block.
                <%= content %>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<% } %>

<%@ title { %>
Dashboard
<% } %>