<%: func Match_Play(allMatchs [3][]model.Match, currentMatch *model.Match, paused bool, buffer *bytes.Buffer) %>
<%~ "base.html" %>

<%!
import (
    "fmt"
    "github.com/kennhung/ftcScoring/model"
)
%>

<%@ scoring_scripts { %>
<script src="/res/js/page_scripts/match_play.js"></script>
<script src="/res/js/page_scripts/match_timing.js"></script>
<%} %>

<%@ body { %>

<%
var matchstr = ""
switch currentMatch.Type {
case "practice":
matchstr += fmt.Sprint("P-")
case "qualification":
matchstr += fmt.Sprint("Q-")
case "elimination":
matchstr += fmt.Sprint("E-")
case "empty":
matchstr += fmt.Sprint("Test Match")
}

matchstr += fmt.Sprint(currentMatch.DisplayName)
%>

<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-3">
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" role="tab" data-toggle="tab" href="#practice">Practice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" data-toggle="tab" href="#qual">Qualification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" data-toggle="tab" href="#playoff">Playoff</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div id="practice" class="tab-pane fade show active" role="tabpanel">
                        <h3>Practice</h3>
                        <p>Some content.</p>
                    </div>
                    <div id="qual" class="tab-pane fade" role="tabpanel">
                        <h3>Qualification</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="playoff" class="tab-pane fade" role="tabpanel">
                        <h3>Playoff</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="card-deck">
            <div class="card bg-light mb-3 text-center">
                <div class="card-header">
                    Match Status - <%= matchstr%>
                </div>
                <div class="card-body">
                    <div class="progress" style="height: 30px;">
                        <span id="matchTime"
                              style="position:absolute; right:0; left:0; color: #fff; margin: 0; top: 50%; left: 50%;transform: translate(-50%, -50%);"></span>
                        <div class="progress-bar" id="timerBar" role="progressbar" role="progressbar"></div>
                    </div>
                    matchState: <span id="matchState"></span>
                </div>
            </div>
            <div class="card bg-light mb-3 text-center">
                <div class="card-header">
                    Match Control
                </div>
                <div class="card-body">
                    <button class="btn btn-outline-primary mb-1" id="startMatch" onclick="startMatch();">Start Match
                    </button>
                    <button class="btn btn-outline-warning mb-1" id="togglePause" onclick="togglePause();">Pause Match
                    </button>
                    <button class="btn btn-outline-danger mb-1" id="abortMatch" onclick="abortMatch();">AbortMatch
                    </button>
                    <button class="btn btn-outline-warning mb-1" id="discardResults" onclick="discardResults();">Discard
                        Results
                    </button>
                    <button class="btn btn-outline-info mb-1" id="commitResults" onclick="commitResults();">Commit
                        Results
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1">

    </div>
</div>

<script>

</script>

<%} %>

<%@ title { %>
Match Play
<% } %>