<%: func Match_Scoring(allMatchs [3][]model.Match, buffer *bytes.Buffer) %>

<%~ "base.html" %>

<%!
import (
"bytes"
"fmt"
"github.com/kennhung/ftcScoring/model"
)
%>


<%@ scoring_scripts { %>
<script src="/res/js/page_scripts/match_scoring.js"></script>
<script src="/res/js/page_scripts/match_timing.js"></script>
<%} %>

<%@ body { %>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg">
        <div class="card text-center bg-light mb-3">
            <div class="card-body">
                <div class="form-group">
                    <label class="mr-sm-2" for="matchSelect">Select Match</label>
                    <select class="form-control" id="matchSelect">
                        <%
                        for _, matchs := range allMatchs {
                        for _, match := range matchs {
                        var printStr = ""
                        switch match.Type {
                        case "practice":
                        printStr += fmt.Sprint("P-")
                        case "qualification":
                        printStr += fmt.Sprint("Q-")
                        //TODO Playoff
                        }
                        printStr += fmt.Sprint(match.DisplayName)
                        %>
                        <option>
                            <%= printStr%>
                        </option>
                        <%
                        }
                        }
                        %>
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-sm btn-block ">Select</button>
            </div>
        </div>
        <div class="card-deck" id="scoringCard">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    Red Scoring
                </div>
                <div class="card-body">
                    <form id="redScoreForm">
                        <h3><span class="badge badge-secondary">Autonomous Period</span></h3>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg col-sm col"><label class="col-form-label"
                                                                      for="AutoJewels">JewelsRemaining</label></div>
                                <div class="col-lg-6 col-sm-6 col-6"><input name="RedAutoJewels" type="text"
                                                                            class="form-control numInput"
                                                                            id="AutoJewels"
                                                                            placeholder="JewelsRemaining"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg col-sm col"><label class="col-form-label"
                                                                      for="AutoCryptobox">Glyphs in Cryptobox</label>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-6"><input name="RedAutoCryptobox" type="text"
                                                                            class="form-control numInput"
                                                                            id="AutoCryptobox"
                                                                            placeholder="Glyphs in Cryptobox"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg col-sm col"><label class="col-form-label"
                                                                      for="CryptoboxKeys">Cryptobox Keys</label></div>
                                <div class="col-lg-6 col-sm-6 col-6"><input name="RedCryptoboxKeys" type="text"
                                                                            class="form-control numInput"
                                                                            id="CryptoboxKeys"
                                                                            placeholder="Cryptobox Keys"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg col-sm col"><label class="col-form-label"
                                                                      for="RobotInSafeZone">Robots in Safe Zone</label>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-6"><input name="RedRobotInSafeZone" type="text"
                                                                            class="form-control numInput"
                                                                            id="RobotInSafeZone"
                                                                            placeholder="Robots in Safe Zone"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="card bg-light mb-3">
                <div class="card-header">
                    Blue Scoring
                </div>
                <div class="card-body">
                    <form id="blueScoreForm">

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<script>
    InitMaxandMin();
    $(".numInput").bootstrapNumber({
        upClass: 'success',
        downClass: 'danger',
        center: true
    });
</script>

<% } %>

<%@ title { %>
Match Scoring
<% } %>