<%: func Setup_Teams(teams []model.Team, buffer *bytes.Buffer) %>

<%~ "base.html" %>

<%@ scoring_scripts { %>

<%} %>

<%@ body { %>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg">
        <div class="card ">
            <div class="card-header">
                Teams
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for _, team := range teams {
                    %>
                    <tr>
                        <th scope="row"><%= fmt.Sprint(team.Id) %></th>
                        <td><%= team.Name %></td>
                        <td><%= team.Affiliation %></td>
                        <td><%= team.City %>
                        <td><%= team.State %></td>
                        <td><%= team.Country %></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<% } %>

<%@ title { %>
Teams
<% } %>